#root {
  --editor-background: #112233;
  --editor-axis-stroke-primary: #578;
  --editor-axis-stroke-secondary: #223344;
  --editor-axis-stroke-tertiary: #182839;

  --sketch-point-stroke: rgb(218, 249, 255);
  --sketch-line-stroke: rgb(218, 249, 255);
  --sketch-point-fill: transparent;

  --sketch-marker-stroke: rgb(255, 117, 31);
  --sketch-preview: rgb(255, 117, 31);
  --sketch-selected: rgb(31, 109, 255);

  --sketch-constraint: rgb(13, 237, 65);

  --editor-text-color: white;
}

.editor {
  color: var(--editor-text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
