#root {
  --editor-background: #112233;
  --editor-axis-stroke-primary: #578;
  --editor-axis-stroke-secondary: #223344;
  --editor-axis-stroke-tertiary: #182839;

  --sketch-point-stroke: rgb(218, 249, 255);
  --sketch-line-stroke: rgb(218, 249, 255);
  --sketch-line-construction-stroke: rgb(67, 196, 255);
  --sketch-point-fill: transparent;

  --sketch-measurement: rgb(255, 153, 20);

  --sketch-marker-stroke: rgb(255, 117, 31);
  --sketch-preview: rgb(255, 117, 31);
  --sketch-selected: rgb(31, 109, 255);
  --sketch-select-halo: rgb(31, 109, 255);

  --sketch-constraint: rgb(247, 10, 140);
  --sketch-fully-constrained: rgb(21, 203, 103);

  --editor-text-color: white;

  --focus-color: #4fa;
  --focus-color-secondary: rgb(8, 136, 57);

  --input-select-color: rgba(68, 255, 171, 0.448);

  --button-color: #578;

  font-size: 120%;
}

.editor {
  color: var(--editor-text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

dialog ::backdrop {
  background-color: white;
}
dialog {
  background-color: var(--editor-background);
  color: var(--editor-text-color);
  border: 1px solid var(--editor-text-color);
  border-radius: 3px;
}
