* {
  box-sizing: border-box;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
  color: inherit;
  background: transparent;
  border: 2px solid currentColor;
  border-radius: 4px;
  margin: 4px;
  outline: none;
}

button {
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  cursor: pointer;
}

button:focus {
  background-color: var(--focus-color);
  color: var(--focus-color-secondary);
}

button:active {
  background-color: var(--focus-color-secondary);
  color: var(--editor-text-color);
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  margin: 2px;
  border: 4px solid var(--focus-color);
  border-radius: 6px;
  outline: none;
  box-shadow: inset 0 0 0 3px var(--focus-color-secondary);
}

input::selection {
  background-color: var(--input-select-color);
}
